<div class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Leandro Lobos
        </a>

        <div class="d-flex">
            <a class="navbar-brand" href="https://www.linkedin.com/in/leandrolobos/" target="_blank">
                <img src="./assets/img/linkedin.png" alt="" width="30" height="30">
            </a>
            <a class="navbar-brand" href="https://github.com/leandrolobos" target="_blank">
                <img src="./assets/img/github.png" alt="" width="30" height="30">
            </a>
        </div>
    </div>
</div>