<body class="text-center">
    <main class="form-signin">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <h1 class="h3 mb-3 fw-normal">Curso</h1>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Curso" id="course" name="course" [(ngModel)]="course" required>
                <label for="position">Curso</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Institución" id="institution" name="institution" [(ngModel)]="institution" required>
                <label for="company">Institución</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Período" id="lapse" name="lapse" [(ngModel)]="lapse" required>
                <label for="lapse">Período</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Link de la imagen" id="url_img" name="url_img" [(ngModel)]="url_img" required>
                <label for="url_img">Link de la imagen</label>
            </div>

            <div>
                <button class="w-100 btn btn-lg btn-secondary mt-3" type="submit">Agregar</button>
            </div>

            <div class="mt-2">
                <a href=""><small>Volver a la página de inicio</small></a>
            </div>
            
            <p class="mt-5 mb-3 text-muted">© Leandro Lobos</p>
        </form>
    </main>
</body>